
@{
    ViewBag.Title = "SecondPage";
}

<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>FAQ</h1>
                <p><strong>Movies.ym</strong> is free source where you can fnd any movie. Movies move us like nothing else can, whether they’re scary, funny, dramatic, romantic or anywhere in-between. So many titles, so much to experience. </p>
            </div>
        </div>
    </div>
</div>

<!-- Simple Post -->
<section class="simple-post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Images/simple-post.jpg" alt="">
                <div class="down-content">
                    <p> The company's primary business is its subscription-based streaming service which offers online streaming of a library of films and television programs, including those produced in-house. </p>
                    <p>Movie.ym is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices. You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!</p>
                </div>
            </div>
        </div>



    </div>
</section>

<section class="simple-post">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <h2>What can i watch on Movies.ym</h2>
                <p>Movies.ym has an extensive library of feature films, documentaries, TV shows, anime, award-winning Movies.ym originals, and more. Watch as much as you want, anytime you want. Join free for 30 days to see everything Movies.ym has to offer.</p>
                <p>The more you watch, the better Movies.ym gets at recommending TV shows and movies you’ll love. You can play, pause, and resume watching without ads or commitments. Plus, you can download your favorite shows to your iOS or Android mobile device, or Windows 10 app. With downloads, you can watch while you're on the go and without an internet connection. Go ahead, binge a little!</p>
                <br><br>

            </div>
            <div class="col-md-6">
                <h2>Streaming</h2>
                <p>Movie.ym is a streaming service that allows our members to watch a wide variety of award-winning TV shows, movies, documentaries, and more on thousands of internet-connected devices.</p>
                <p> With Movie.ym, you can enjoy unlimited ad-free viewing of our content. There's always something new to discover, and more TV shows and movies are added every month! If you're already a member and would like to learn more about using Movie.ym, visit Getting started with Movie.ym.</p>

            </div>
        </div>

    </div>
</section>



<!-- Contact Form -->

<section class="contact-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Your opinion is very important to us</h2>
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="button">Send Message</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <img src="~/Images/pivko.jpg" alt="">
            </div>
        </div>
    </div>
</section>



