
@{
    ViewBag.Title = "_Feature";
}

<div class="heading">
    <h2>Most expected</h2>
</div>
<div class="owl-carousel owl-theme">

    <a href="#">
        <div class="featured-item">
            <img src="~/Images/featured_post_01.jpg" alt="featured one">
            <p>The Invisible Man</p>
        </div>
    </a>
    <a href="#">
        <div class="featured-item">
            <img src="~/Images/featured_post_02.jpg" alt="featured two">
            <p>Black Widow</p>
        </div>
    </a>
    <a href="#">
        <div class="featured-item">
            <img src="~/Images/featured_post_03.jpg" alt="featured three">
            <p>Mulan</p>
        </div>
    </a>

</div>