
@{
    ViewBag.Title = "_Footer";
}

<p class="copyright">
    Copyright &copy; 2020
    <br>Designed by <a rel="nofollow" href="https://www.instagram.com/yuliamiloserdova/?hl=ru">Quarantine and Stress</a>
</p>

